.newsfloatleft{
float: left;
margin-right:10px;
overflow:hidden;
}

.newsclear {
        clear:both;
}

.newstable, td.newstable, tr.newstable{
  width: 0;
  padding: 0;
  border: 0;
  text-align: left; 
  background: none;
}

.newsclearall{
background: none;
border:	none;
margin: 0;
paddding: 0;
}

#block-subscribeblock{
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}
#block-subscribeblock .newsubscribetable{
  display:table;
  border-collapse:collapse;
  width: 100%;
}
#block-subscribeblock .newsubscriberow{
  display:table-row;
}

#block-subscribeblock .newsubscribecell{
  display: table-cell;
  vertical-align: center;
  text-align: left; 
}

#block-subscribeblock input{
  width: 100%;
}


