{{ form.form_build_id }} {{ form.form_token }} {{ form.form_id }} {{ form.actions }} 
<div class=newsubscribetable>
<div class=newsubscriberow>
<div class=newsubscribecell>
{{ form.email }}
</div>
<div class=newsubscribecell>
{{ form.submit }}
</div>
</div>
</div>
